<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <title>Fit init | Interactive Fitness Website</title>
    
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body data-ng-app="muscleList" data-ng-controller="MuscleController as muscleList">
    <header class="text-center"><h1><a href="#" data-ng-click="muscleList.change('Fit-init is an interactive website for learning more about exercising.', 'Welcome to Fit-init')">Fit-init | Interactive Fitness Website</a></h1></header>
    
    <div class="container-fluid">
       <div class="row">
           <div class="col-xs-6 col-md-4 panel-side panel" id="left-panel">
               <div class="text-center">
                   <h3 id="muscleDesc">Welcome to Fit-init</h3>
                   <i class="glyphicon glyphicon-search" style="color:#fff;"></i><input type="text" placeholder="Search" data-ng-model="searchExercise" />
               </div>
               
               <hr />
               
               <div class="text-center">
                   <p id="description">Fit-init is an interactive website for learning more about exercising.</p>
                   <hr/>
                   <br/>
               </div>
               
           </div>
           
           <div class="col-xs-6 col-md-4 panel-center panel" id="center-panel">
               <h3 class="text-center">HUMAN ANATOMY</h3>
               <hr />
           </div>
           
           <div class="col-xs-6 col-md-4 panel-side panel" id="right-panel">
               <div class="text-center">
                   <h3 >MUSCLES</h3>
                   <i class="glyphicon glyphicon-search" style="color:#fff;"></i><input type="text" placeholder="Search" data-ng-model="name" />
               </div>
               
               <hr />
               
               <div class="text-center">
                   <div class="list-group">
                       <a href="#" class="list-group-item" data-ng-repeat="names in muscleNames | filter:name" data-ng-click="muscleList.change(names.mainDesc, names.mainMuscle)"><h5><strong>{{ names.mainMuscle }}</strong></h5></a>
                   </div>
               </div>
           </div>
       </div>
    </div>
    
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h6>Copyright &copy; 2015 Jason Ou</h6>
                </div><!-- end col-sm-2 -->

                <div class="col-sm-4">
                    <h6>Contact Me: JasonOu95@gmail.com</h6>
                    <a href="https://www.facebook.com/JasonOu95" target="_blank">Facebook</a>
                    <a href="https://www.linkedin.com/in/jasonoucs/" target="_blank">LinkedIn</a>
                    <a href="https://github.com/jasonou" target="_blank">Github</a>
                </div><!-- end col-sm-4 -->

                <div class="col-sm-4">
                    Fit-init, Created by Jason Ou
                </div><!-- end col-sm-2 -->


            </div><!-- end row -->
        </div><!-- end container -->
    </div>
    
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>