/* Global */
* {
    -webkit-transition: all 0.3s ease 0s;
    font-size: 1em;
}

body {
    background: rgb(63, 82, 99);
    -webkit-perspective: 1000px;
    font-family: monospace;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    height:100vh;
}

header {
    margin-bottom: 20px;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    
}

/* Header */
header a {
    text-decoration: none !important;
    color: #fff !important;
}

header a:hover {
    font-size: 1.05em;
}

/* Panels */
.panel {
    min-height: 70vh;
    max-height: 70vh;
    overflow: auto;
    background: rgb(48, 48, 48);
    border: 1px solid #ccc;
    box-shadow: -4px 4px 2px 0 rgba(0,0,0,0.3);
    outline: 0;
    color: #fff;
}

.panel-side {  
    width: 25%;
    margin: 0px 2.5%;
    
}

.panel-center {
    width: 40%;
    margin: 0px;
    overflow: none;
}

/*#left-panel {
    -webkit-transform: rotateY(10deg);
    -webkit-transform-origin: left;
}

#right-panel {
    -webkit-transform: rotateY(-10deg);
    -webkit-transform-origin: right;
}*/

.panel-side:hover, .panel-center:hover, .navbar:hover {
    box-shadow: 0px 0px 40px 5px rgba(255,255,255,0.4);
}

/* Center Panel */
.panel-center .image_container {
    width: 100%;
    height: 100%;
    position: relative;
}

.image_container img {
    width: 100% !important;
    position: absolute;
}

img .main_img {
    z-index: -1;
}

/* Lists */
.list-group-item {
    background: rgb(48, 48, 48);
    font-size: 1em;
}

.list-group-item h5 {
    letter-spacing: 0.2em !important;
    color: rgb(198, 198, 198) !important;
}

/* Search Bars */
input {
    color: #000;
    border: solid 1px rgb(48, 48, 48);
    border-radius: 10px;
    padding: 0px 5px;
    width: 77%;
    margin-left: 8px;
}

/* Footer */
.navbar {
    background: rgb(48, 48, 48);
    border: 1px solid #ccc;
    box-shadow: -4px 4px 2px 0 rgba(0,0,0,0.3);
    outline: 0;
    color: #fff;
    margin: 10px 6px 5px 6px;
    height: 8%;
    font-size: 1em;
    position: absolute;
}
