/*  ----------------------------
    Media Queries Home
    ----------------------------*/
@media all and (max-width: 1300px) {
	.greetings {
		font-size: 30px;
	}
}

@media all and (max-width: 1000px) {
	.greetings {
		font-size: 25px;
	}
}

@media all and (max-width: 500px) {
	.greetings {
		font-size: 20px;
	}
	
	.quote {
		font-size: 10px;
	}
}

/*  ----------------------------
    Media Queries Hidden Nav
    ----------------------------*/

@media all and (max-width: 600px) { 
	nav.slide-menu-left {
	  	top: 0;
	}
	nav.slide-menu-left {
	  	left: -100%
	}
	
	body.sml-open nav.slide-menu-left {
	  	left: 0
	}
}

@media all and (max-width: 600px) {
	nav.slide-menu-left {
	    top: 0;
	    width: 200px;
	    height: 100%;
	}
	
	.icon-phone:before {
		font-size: 25px;
	}
	.icon-mail:before {
		font-size: 25px;
	}
	.icon-facebook:before {
		font-size: 25px;
	}
	.icon-instagram:before {
		font-size: 25px;
	}
	.icon-github:before {
		font-size: 25px;
	}
	.icon-linkedin:before {
		font-size: 25px;
	}
	
	nav.slide-menu-left a {
	    display: block;
	    padding: 10px 4px;
	}
	
	.menuTitle {
		font-size: 30px;
	}
	
	.contact {
		padding: 10px 0;
		height: 50px;
	}
	
	#hoverText {
		width:200px;
		top: 473px;
		font-size: 10.5px;
	}

}

/*  ----------------------------
    Media Queries Resume/Footer
    ----------------------------*/

@media all and (max-width: 1400px) {
		.clickAppear {
			font-size: 20px;
		}
		
		.clickText {
			font-size: 13px;
		}
		
		footer {
		    padding: 20px 0;
		    font-size: 15px;
		}
}

@media all and (max-width: 946px) {
		.clickAppear {
			font-size: 18px;
		}
		
		.clickText {
			font-size: 12px;
		}
		
		.icon-checkmark-circle:before {
			font-size: 18px;
		}
		
		footer {
		    padding: 17px 0;
		    font-size: 13px;
		}
}

@media all and (max-width: 874px) {
		.clickAppear {
			font-size: 16px;
		}
		
		.clickText {
			font-size: 11px;
		}
		
		.icon-checkmark-circle:before {
			font-size: 16px;
		}
}

@media all and (max-width: 639px) {
		.clickAppear {
			font-size: 15px;
		}
		
		.clickText {
			font-size: 10px;
		}
		
		.icon-checkmark-circle:before {
			font-size: 15px;
		}
}

@media all and (max-width: 435px) {
		.clickAppear {
			font-size: 14px;
		}
		
		.clickText {
			font-size: 9px;
		}
		.icon-checkmark-circle:before {
			font-size: 14px;
		}
}

@media all and (max-width: 330px) {
		.clickAppear {
			font-size: 14px;
		}
		
		.clickText {
			font-size: 9px;
		}
		.icon-checkmark-circle:before {
			font-size: 14px;
		}
}
/*  ----------------------------
    Media Queries Nav
    ----------------------------*/
   
@media all and (max-width: 1167px) { 
	
	.primaryName{
		display: none;
	}
	
	.secondaryName {
		visibility: visible;
	}
}

@media all and (max-width: 825px) { 
	
	.secondaryName {
		visibility: hidden;
	}
	
	.finalName {
		visibility: visible;
	}
}

@media all and (max-width: 680px) { 
	
	.finalName {
		visibility: hidden;
	}
}

@media (max-width: 472px) { 
	
	nav ul li {
	    font-size: 12px;
	}
	
	header nav ul li a {
	    padding: 20px 10px;
	}
	
}

@media (max-width: 330px) { 
	
	nav ul li {
	    font-size: 10px;
	}
	
	header nav ul li a {
	    padding: 15px 5px;
	}

header {
	padding: 0px;
	}

.buttons {
	margin: 0px;
	}
	
}

/*  ----------------------------
    Projects
    ----------------------------*/
   
@media (max-width: 1350px) {
	
	#flex-item img {
		width: 200px;
		height: 200px;
	}
	
	.projectTitle {
		font-size: 100%;
	}
	
	.projectName {
		font-size: 90%;
	}
	
	.projectDesc {
		font-size: 80%;
	}
}

@media (max-width: 900px) { 
	
	#flex-item img {
		width: 150px;
		height: 150px;
	}
}

@media (max-width: 690px) { 

	#flex-item img {
		width: 100px;
		height: 100px;
	}
	
@media (max-width: 480px) { 
	
	#flex-item img {
		width: 80px;
		height: 80px;
	}
}