/* Global */
.body {
    font-size: 40;
    font-family: 'Open Sans', sans-serif;
}

.mainContainer {
    padding-top: 100px;
    font-size: 72px;
}

.about, .built, .contact, .didyou {
    text-decoration: none !important;
    position: absolute;
}

/* About */
.about {
    margin: -270px 0 0 -23px;
}

/* Built */
.built {
    margin: -200px 0 0 -80px;
}

/* Contact */
.contact {
    margin: -135px 0 0 -23px;
}

#contactModal a {
    padding: 0px 2% 0px 2%;
    margin-top: -85px;
}

#contactModal .modal-content {
    padding: 0px;
    margin: 0px;
    height: 60px;
}

/* D */
.didyou {
    margin: -200px 0 0 38px;
}

.cross .img {
    margin: 0 auto;
}

/* Footer */
.detail-container {
    letter-spacing: -0.15px;
}

/* Tooltip */
.tooltip-inner {
    font-weight: 100;
    font-size: 1.2em;
}