<script>
    $(document).ready(function() {
        $('.modal-trigger').leanModal();
    });
</script>

<nav>
    <div class="nav-wrapper">
        <div class="center">
            <button data-target="post" class="waves-effect waves-light btn modal-trigger">POST+</button>
            <button data-target="signin" class="waves-effect waves-light btn modal-trigger">SIGN IN</button>
            <button data-target="signup" class="waves-effect waves-light btn modal-trigger">SIGN UP</button>
        </div>
    </div>
</nav>

