/* Global Styles */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Container for the Cross and Navigation */
.container {
    width: 100%;
    height: 300px;
    margin-top: 40px;
}

/* Main Container Styles */
.mainCont {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    background-image: url("../images/thin-cross.png");
}

/* Page Header Text */
.header-text {
    margin-bottom: -5px;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 1.6px;
}

/* Main Navigation */
.about, .built, .connect, .didyou {
    width: 100px;
    height: 100px;
    font-size: 70px;
    text-align: center;
}

.about a, .built a, .connect a, .didyou a {
    font-weight: 300;
    text-decoration: none !important;
    transition: all 0.5s ease;
}

.about span a, .built span a, .connect span a, .didyou span a {
    transition: background 0.5s ease;
    background: -webkit-linear-gradient(92deg, #eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about span a:hover, .built span a:hover, .connect span a:hover, .didyou span a:hover {
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* About Toggle */
.about {
    margin: 0 auto;
}

/* Middle Second for Built and Did You */
.mid {
    width: 300px;
    height: 100px;
}

/* Built Toggle */
.built {
    margin-left: 30px;
}

/* Connect Toggle */
.connect {
    margin: 0 auto;
}

.connect .modal-body {
    height: 60px;
}

#connectModal a {
    padding: 0px;
    margin-top: -85px;
}

.fa {
    background: -webkit-linear-gradient(#333, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa:hover {
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Did You Toggle */
.didyou {
    margin: -100px 0 0 170px;
}

/* Small Footer */
.choose-path {
    margin-top: -20px;
    letter-spacing: -0.5px;
}